In [1]:
1+1

2

### Python Example

In [3]:
print("Hello World")

Hello World

In [4]:
## THis is a single line comment
## Case sensitivity - Python is case sensitive

name = 'Chandan'
Name ='Mahodi'

print(name)
print(Name)

Chandan
Mahodi

### Indentation
Indentation in Python is used to define the structure and hierarchy of the code. Unlike many other programming languages that use braces {} to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level.

In [1]:
age = 22
print('Before if condition' + str(age))
if age >30:
    age = age - 10
    print('Inside If and the age  is: ' + str(age)) 
print('After If condition the age is: ' + str(age))

Before if condition22
After If condition the age is: 22

In [11]:
### This is a single line comment
print("Hello World!")

Hello World!

In [16]:
## Line continuation
## Use blackslah(\) for line continuation
total = 1+5\
    +6

print(total)

12

In [18]:
## Multiple statements on a single line
x=5;y=6;z=7;print(y)

6

In [ ]:
#Understanding semantics in python
#variable assignment
age=32 #age is an integer
name="Chandan" #name is a string
type(name)

str

In [ ]:
type(age)

int

In [26]:
#type inference
variable =30
print(type(variable))
variable = "string"
print(type(variable))

<class 'int'>
<class 'str'>

In [ ]:
#Name error
a=b

NameError: name 'b' is not defined

In [32]:
## Code exmaples of indentation
if True:
    print("Correct indentation")
    if False:
        print("Inside indentation")
    print("This will be printed")
print("Outside the IF")

Correct indentation
This will be printed
Outside the IF

In [3]:
# Declaring and assigning variables
age = 30
name = "Chandan"
height = 5.3
is_student = False

# Printing the variables
print("age:",age)
print("name:",name)
print("height:",height)
print("is student:",is_student)

age: 30
name: Chandan
height: 5.3
is student: False

In [6]:
# Naming conventions
## Variable names should be descriptive
# They must start with a letter or an '_' and may contain letters, numbers, and underscores
# Variable names are case sensitive

#valid variable names
first_name_1 = 'Chandan'
last_name_1 = "Mahodi"

#invalid variable names
# first-name = "Chandan"
# @name = "test"

Name = "Chandan"
name = "Chandan1"

name==Name

False

In [7]:
## Understanding variable types
# Python is dynamically typed, type of a vairable is determined at runtime

age = 25
name = "Chandan"
height = 5.3
is_student = True

print(type(age))
print(type(name))
print(type(height))
print(type(is_Student))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [10]:
age = 25
print(type(age))

age_str=str(age)
print(age_str)
print(type(age_str))

age = '25'
print(type(age))
print(type(int(age)))

<class 'int'>
25
<class 'str'>
<class 'str'>
<class 'int'>

In [14]:
height = 5.11
print(type(height))

int(height)
print(type(int(height)))

<class 'float'>
<class 'int'>

In [15]:
# Dynamic typing
## Python allows the type of a variable to change as the program executes

var = 10
print(var,type(var))

var = "James"
print(var,type(var))

var = 5.11
print(var,type(var))

10 <class 'int'>
James <class 'str'>
5.11 <class 'float'>

In [17]:
age=int(input("What is the age"))
print(age,type(age))

21 <class 'int'>

In [18]:
#Integer Example
age = 35
print(type(age))

<class 'int'>

In [19]:
#Floating point data type
height = 5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [20]:
# String Data type exmaple
name="Chandan"
print(name)
print(type(name))

Chandan
<class 'str'>

In [21]:
#boolean data type
is_true=True
type(is_true)

bool

In [25]:
is_true=bool()
print(is_true)
print(type(is_true))

False
<class 'bool'>

In [28]:
a=10
b=10

a==b
print(type(a==b))

<class 'bool'>

In [30]:
## common errors

result = "Hello" + str(5)
print(result)

Hello5

In [33]:
## Arithmetic operation
a=10
b=2

add_result = a+b
print(add_result)
sub_result = a-b
print(sub_result)
mult_result = a*b
print(mult_result)
div_result = a/b
print(div_result)
floor_div_result=a//b
print(floor_div_result)
modulus_result=a%b
print(modulus_result)
exponent_result = a**b
print(exponent_result)

12
8
20
5.0
5
0
100

In [34]:
24/3

8.0

In [35]:
211/3

70.33333333333333

In [36]:
211//3

70

In [37]:
# Compaison operators
a=10
b=10

a==b

True

In [42]:
#Not equal to !=
str1 = 'Chandan'
str2= 'NotChandan'

print(str1==str2)
print(str1!=str2)

False
True

In [52]:
#Greater than , less than
num1 = 50
num2 = 10

print(num1>num2)
print(num1<num2)
print(num1>=num2)
print(num1<=num2)

True
False
True
False

In [58]:
##Logical operators
## And, Not, OR
x=True
y= False
result = x and y
print(result)

result =  x or y
print(result)

result =  x and not y
print(result)

False
True
True

In [6]:
#for loop
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
#range example#1
for i in range(1,10,3):
    print(i)

1
4
7

In [11]:
#range example#2
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [1]:
#string
str="Heyy Yo"
for i in str:
    print(i)

H
e
y
y

Y
o

In [20]:
#while loop
i=0
while i < 10:
    print(i+5)
    i=i+1

5
6
7
8
9
10
11
12
13
14

In [22]:
#while loop example
i=4
while i%2==0:
    print(i)
    i=i+1

4

In [ ]:
#loop control statements
#break --> It breaks the exits the loop 

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [24]:
#loop control statements
#continue --> It skips the current iteration and continues with the next iteration
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [26]:
#pass --> it is null statement; it does nothing
for i in range(5):
    if i==3:
        pass
        print("Printed after pass")
    print(i)

0
1
2
Printed after pass
3
4

In [27]:
#Nested loops
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [28]:
##Examples
## Calculate the sum of first N Natural numbers using a while and a for loop

##while loop

n=10
sum =0 
count=1

while count<=n:
    sum=sum+count
    count=count+1

print(f"sum of first {n} numbers is {sum}")

sum of first 10 numbers is 55

In [30]:
#with for loop
n=10
sum=0
for i in range(n+1):
    sum=sum+i
print("sum of first",n,"natural numbers is",sum)

sum of first 10 natural numbers is 55

In [51]:
#prime numbers between 1 and N
n=10
print("Below are the prime numbers between 1 and",n)
for i in range(2,n+1):
    count=0
    for j in range(2,i):
        if i%j==0:
           count=count+1
    if count < 1:
        print(i)

Below are the prime numbers between 1 and 10
2
3
5
7

In [ ]:
#prime numbers between 1 and N
n=10
print("Below are the prime numbers between 1 and",n)
for i in range(2,n+1):
    for j in range(2,i):
        if i%j==0:
           break
    else:
        print(i)

Below are the prime numbers between 1 and 10
2
3
5
7